/* Coolors Exported Palette - https://coolors.co/7e7f9a-d37382-e0e2db-070707 */

/* CSS HEX */
--cool-gray: #7e7f9aff;
--blush: #d37382ff;
--alabaster: #e0e2dbff;
--black: #070707ff;

/* CSS HSL */
--cool-gray: hsla(238, 12%, 55%, 1);
--blush: hsla(351, 52%, 64%, 1);
--alabaster: hsla(77, 11%, 87%, 1);
--black: hsla(0, 0%, 3%, 1);

/* SCSS HEX */
$cool-gray: #7e7f9aff;
$blush: #d37382ff;
$alabaster: #e0e2dbff;
$black: #070707ff;

/* SCSS HSL */
$cool-gray: hsla(238, 12%, 55%, 1);
$blush: hsla(351, 52%, 64%, 1);
$alabaster: hsla(77, 11%, 87%, 1);
$black: hsla(0, 0%, 3%, 1);

/* SCSS RGB */
$cool-gray: rgba(126, 127, 154, 1);
$blush: rgba(211, 115, 130, 1);
$alabaster: rgba(224, 226, 219, 1);
$black: rgba(7, 7, 7, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-right: linear-gradient(90deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-bottom: linear-gradient(180deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-left: linear-gradient(270deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-top-right: linear-gradient(45deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-bottom-right: linear-gradient(135deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-top-left: linear-gradient(225deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-bottom-left: linear-gradient(315deg, #7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);
$gradient-radial: radial-gradient(#7e7f9aff, #d37382ff, #e0e2dbff, #070707ff);