@import 'tailwindcss';

body {
  background-color: black;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}

@theme {
  --font-heading: 'Josefin Sans', sans-serif;
  --font-body: 'Ubuntu', sans-serif;
}
